* {
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: white;
  background-color: #001628;
  /* position: relative; */
}
.middle{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  line-height: 35px;
}
